h1{
    text-align: center;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
p.linha1{
    text-align: center;
}
p.linha2{
    text-align: center;
    background-color: gray;
}
h2{
    justify-content: flex-end
}
form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
  
label{
    margin-bottom: 0.5rem;
    font-weight: bold;
}
  
input, textarea {
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
}
  
button{
    padding: 0.5rem 1
}  
footer{
    text-align: left;
    background-color: gray;
}